# pqapiv2
#
# This file was automatically generated by APIMATIC v2.0
# ( https://apimatic.io ).

module Pqapiv2
  # BalancesController
  class BalancesController < BaseController
    def initialize(config, http_call_back: nil)
      super(config, http_call_back: http_call_back)
    end

    # Retrieve a list of user balances that supports filtering, sorting, and
    # pagination through existing mechanisms.
    # @param [String] user_token Required parameter: Auto-generated unique
    # identifier representing a user, prefixed with <i>user-</i>.
    # @param [String] x_my_pay_quicker_version Required parameter: Date-based
    # API Version specified in the header <i>required</i> on all calls.
    # @param [Integer] page Optional parameter: Page number of specific page to
    # return
    # @param [Integer] page_size Optional parameter: Number of items to be
    # displayed per page
    # @param [String] filter Optional parameter: Filter request results by
    # specific criteria.
    # @param [String] sort Optional parameter: Sort request results by specific
    # attribute.
    # @param [LanguageTypesEnum] language Optional parameter: Filter results by
    # language type.
    # @return [BalanceCollectionResponse] response from the API call
    def list_user_balances(user_token,
                           x_my_pay_quicker_version,
                           page: nil,
                           page_size: 20,
                           filter: nil,
                           sort: nil,
                           language: nil)
      # Prepare query url.
      _query_builder = config.get_base_uri
      _query_builder << '/users/{user-token}/balances'
      _query_builder = APIHelper.append_url_with_template_parameters(
        _query_builder,
        'user-token' => { 'value' => user_token, 'encode' => true }
      )
      _query_builder = APIHelper.append_url_with_query_parameters(
        _query_builder,
        'page' => page,
        'pageSize' => page_size,
        'filter' => filter,
        'sort' => sort,
        'language' => language
      )
      _query_url = APIHelper.clean_url _query_builder

      # Prepare headers.
      _headers = {
        'accept' => 'application/json',
        'X-MyPayQuicker-Version' => x_my_pay_quicker_version
      }

      # Prepare and execute HttpRequest.
      _request = config.http_client.get(
        _query_url,
        headers: _headers
      )
      _response = execute_request(_request)
      validate_response(_response)

      # Return appropriate response type.
      decoded = APIHelper.json_deserialize(_response.raw_body)
      BalanceCollectionResponse.from_hash(decoded)
    end

    # Retrieve a list of balances by destination token that supports filtering,
    # sorting, and pagination through existing mechanisms. <i>*If the user
    # belongs to a Flex-based program, balances against the user resource will
    # return the wallet balance only. If it is a pre-paid card program (i.e.,
    # Meta USD), this balance and its associated pre-paid card balance will be
    # the same.</i>
    # @param [String] user_token Required parameter: Auto-generated unique
    # identifier representing a user, prefixed with <i>user-</i>.
    # @param [String] dest_token Required parameter: Auto-generated unique
    # identifier representing a transfer destination, including prepaid cards,
    # bank accounts, paper checks, and other users, prefixed with <i>dest->.
    # @param [String] x_my_pay_quicker_version Required parameter: Date-based
    # API Version specified in the header <i>required</i> on all calls.
    # @param [Integer] page Optional parameter: Page number of specific page to
    # return
    # @param [Integer] page_size Optional parameter: Number of items to be
    # displayed per page
    # @param [String] filter Optional parameter: Filter request results by
    # specific criteria.
    # @param [String] sort Optional parameter: Sort request results by specific
    # attribute.
    # @param [LanguageTypesEnum] language Optional parameter: Filter results by
    # language type.
    # @return [BalanceCollectionResponse] response from the API call
    def list_prepaid_card_balance(user_token,
                                  dest_token,
                                  x_my_pay_quicker_version,
                                  page: nil,
                                  page_size: 20,
                                  filter: nil,
                                  sort: nil,
                                  language: nil)
      # Prepare query url.
      _query_builder = config.get_base_uri
      _query_builder << '/users/{user-token}/prepaid-cards/{dest-token}/balances'
      _query_builder = APIHelper.append_url_with_template_parameters(
        _query_builder,
        'user-token' => { 'value' => user_token, 'encode' => true },
        'dest-token' => { 'value' => dest_token, 'encode' => true }
      )
      _query_builder = APIHelper.append_url_with_query_parameters(
        _query_builder,
        'page' => page,
        'pageSize' => page_size,
        'filter' => filter,
        'sort' => sort,
        'language' => language
      )
      _query_url = APIHelper.clean_url _query_builder

      # Prepare headers.
      _headers = {
        'accept' => 'application/json',
        'X-MyPayQuicker-Version' => x_my_pay_quicker_version
      }

      # Prepare and execute HttpRequest.
      _request = config.http_client.get(
        _query_url,
        headers: _headers
      )
      _response = execute_request(_request)
      validate_response(_response)

      # Return appropriate response type.
      decoded = APIHelper.json_deserialize(_response.raw_body)
      BalanceCollectionResponse.from_hash(decoded)
    end

    # Retrieve a single account balance.
    # @param [String] acct_token Required parameter: Auto-generated unique
    # identifier representing a company account, prefixed with <i>acct-</i>.
    # @param [String] x_my_pay_quicker_version Required parameter: Date-based
    # API Version specified in the header <i>required</i> on all calls.
    # @param [Integer] page Optional parameter: Page number of specific page to
    # return
    # @param [Integer] page_size Optional parameter: Number of items to be
    # displayed per page
    # @param [String] filter Optional parameter: Filter request results by
    # specific criteria.
    # @param [String] sort Optional parameter: Sort request results by specific
    # attribute.
    # @param [LanguageTypesEnum] language Optional parameter: Filter results by
    # language type.
    # @return [BalanceCollectionResponse] response from the API call
    def list_account_balances(acct_token,
                              x_my_pay_quicker_version,
                              page: nil,
                              page_size: 20,
                              filter: nil,
                              sort: nil,
                              language: nil)
      # Prepare query url.
      _query_builder = config.get_base_uri
      _query_builder << '/accounts/{acct-token}/balances'
      _query_builder = APIHelper.append_url_with_template_parameters(
        _query_builder,
        'acct-token' => { 'value' => acct_token, 'encode' => true }
      )
      _query_builder = APIHelper.append_url_with_query_parameters(
        _query_builder,
        'page' => page,
        'pageSize' => page_size,
        'filter' => filter,
        'sort' => sort,
        'language' => language
      )
      _query_url = APIHelper.clean_url _query_builder

      # Prepare headers.
      _headers = {
        'accept' => 'application/json',
        'X-MyPayQuicker-Version' => x_my_pay_quicker_version
      }

      # Prepare and execute HttpRequest.
      _request = config.http_client.get(
        _query_url,
        headers: _headers
      )
      _response = execute_request(_request)
      validate_response(_response)

      # Return appropriate response type.
      decoded = APIHelper.json_deserialize(_response.raw_body)
      BalanceCollectionResponse.from_hash(decoded)
    end
  end
end
