# pqapiv2
#
# This file was automatically generated by APIMATIC v2.0
# ( https://apimatic.io ).

module Pqapiv2
  # TransfersController
  class TransfersController < BaseController
    def initialize(config, http_call_back: nil)
      super(config, http_call_back: http_call_back)
    end

    # Retrieve details of a specific transfer represented by a transfer token.
    # @param [String] xfer_token Required parameter: Auto-generated unique
    # identifier representing an individual transfer transaction, prefixed with
    # <i>xfer-</i>.
    # @param [String] x_my_pay_quicker_version Required parameter: Date-based
    # API Version specified in the header <i>required</i> on all calls.
    # @param [Integer] page Optional parameter: Page number of specific page to
    # return
    # @param [Integer] page_size Optional parameter: Number of items to be
    # displayed per page
    # @param [String] filter Optional parameter: Filter request results by
    # specific criteria.
    # @param [String] sort Optional parameter: Sort request results by specific
    # attribute.
    # @param [LanguageTypesEnum] language Optional parameter: Filter results by
    # language type.
    # @return [TransferResponse] response from the API call
    def retrieve_transfer(xfer_token,
                          x_my_pay_quicker_version,
                          page: nil,
                          page_size: 20,
                          filter: nil,
                          sort: nil,
                          language: nil)
      # Prepare query url.
      _query_builder = config.get_base_uri
      _query_builder << '/transfers/{xfer-token}'
      _query_builder = APIHelper.append_url_with_template_parameters(
        _query_builder,
        'xfer-token' => { 'value' => xfer_token, 'encode' => true }
      )
      _query_builder = APIHelper.append_url_with_query_parameters(
        _query_builder,
        'page' => page,
        'pageSize' => page_size,
        'filter' => filter,
        'sort' => sort,
        'language' => language
      )
      _query_url = APIHelper.clean_url _query_builder

      # Prepare headers.
      _headers = {
        'accept' => 'application/json',
        'X-MyPayQuicker-Version' => x_my_pay_quicker_version
      }

      # Prepare and execute HttpRequest.
      _request = config.http_client.get(
        _query_url,
        headers: _headers
      )
      _response = execute_request(_request)
      validate_response(_response)

      # Return appropriate response type.
      decoded = APIHelper.json_deserialize(_response.raw_body)
      TransferResponse.from_hash(decoded)
    end

    # Accept a transfer quote
    # @param [String] xfer_token Required parameter: Auto-generated unique
    # identifier representing an individual transfer transaction, prefixed with
    # <i>xfer-</i>.
    # @param [String] x_my_pay_quicker_version Required parameter: Date-based
    # API Version specified in the header <i>required</i> on all calls.
    # @return [void] response from the API call
    def accept_transfer_quote(xfer_token,
                              x_my_pay_quicker_version)
      # Prepare query url.
      _query_builder = config.get_base_uri
      _query_builder << '/transfers/{xfer-token}'
      _query_builder = APIHelper.append_url_with_template_parameters(
        _query_builder,
        'xfer-token' => { 'value' => xfer_token, 'encode' => true }
      )
      _query_url = APIHelper.clean_url _query_builder

      # Prepare headers.
      _headers = {
        'X-MyPayQuicker-Version' => x_my_pay_quicker_version
      }

      # Prepare and execute HttpRequest.
      _request = config.http_client.post(
        _query_url,
        headers: _headers
      )
      _response = execute_request(_request)
      validate_response(_response)
    end

    # Optional cancellation that auto-cancels after a period organically expires
    # or when account activity invalidates the quote.
    # @param [String] xfer_token Required parameter: Auto-generated unique
    # identifier representing an individual transfer transaction, prefixed with
    # <i>xfer-</i>.
    # @param [String] x_my_pay_quicker_version Required parameter: Date-based
    # API Version specified in the header <i>required</i> on all calls.
    # @return [void] response from the API call
    def cancel_transfer_quote(xfer_token,
                              x_my_pay_quicker_version)
      # Prepare query url.
      _query_builder = config.get_base_uri
      _query_builder << '/transfers/{xfer-token}'
      _query_builder = APIHelper.append_url_with_template_parameters(
        _query_builder,
        'xfer-token' => { 'value' => xfer_token, 'encode' => true }
      )
      _query_url = APIHelper.clean_url _query_builder

      # Prepare headers.
      _headers = {
        'X-MyPayQuicker-Version' => x_my_pay_quicker_version
      }

      # Prepare and execute HttpRequest.
      _request = config.http_client.delete(
        _query_url,
        headers: _headers
      )
      _response = execute_request(_request)
      validate_response(_response)
    end

    # Retrieve a list of all transfers that supports filtering, sorting, and
    # pagination through existing mechanisms.
    # @param [String] x_my_pay_quicker_version Required parameter: Date-based
    # API Version specified in the header <i>required</i> on all calls.
    # @param [Integer] page Optional parameter: Page number of specific page to
    # return
    # @param [Integer] page_size Optional parameter: Number of items to be
    # displayed per page
    # @param [String] filter Optional parameter: Filter request results by
    # specific criteria.
    # @param [String] sort Optional parameter: Sort request results by specific
    # attribute.
    # @param [LanguageTypesEnum] language Optional parameter: Filter results by
    # language type.
    # @return [TransferCollectionResponse] response from the API call
    def list_transfers(x_my_pay_quicker_version,
                       page: nil,
                       page_size: 20,
                       filter: nil,
                       sort: nil,
                       language: nil)
      # Prepare query url.
      _query_builder = config.get_base_uri
      _query_builder << '/transfers'
      _query_builder = APIHelper.append_url_with_query_parameters(
        _query_builder,
        'page' => page,
        'pageSize' => page_size,
        'filter' => filter,
        'sort' => sort,
        'language' => language
      )
      _query_url = APIHelper.clean_url _query_builder

      # Prepare headers.
      _headers = {
        'accept' => 'application/json',
        'X-MyPayQuicker-Version' => x_my_pay_quicker_version
      }

      # Prepare and execute HttpRequest.
      _request = config.http_client.get(
        _query_url,
        headers: _headers
      )
      _response = execute_request(_request)
      validate_response(_response)

      # Return appropriate response type.
      decoded = APIHelper.json_deserialize(_response.raw_body)
      TransferCollectionResponse.from_hash(decoded)
    end

    # Create a new quote. <i>*This can be a non-payment card-to-card transfer,
    # prepaid card from Flex (wallet), bank account, or user-to-user
    # transfer.</i>
    # @param [String] x_my_pay_quicker_version Required parameter: Date-based
    # API Version specified in the header <i>required</i> on all calls.
    # @param [TransferRequest] body Required parameter: Example:
    # @return [TransferResponse] response from the API call
    def quote_transfer(x_my_pay_quicker_version,
                       body)
      # Prepare query url.
      _query_builder = config.get_base_uri
      _query_builder << '/transfers'
      _query_url = APIHelper.clean_url _query_builder

      # Prepare headers.
      _headers = {
        'accept' => 'application/json',
        'X-MyPayQuicker-Version' => x_my_pay_quicker_version,
        'Content-Type' => 'application/json'
      }

      # Prepare and execute HttpRequest.
      _request = config.http_client.post(
        _query_url,
        headers: _headers,
        parameters: body.to_json
      )
      _response = execute_request(_request)
      validate_response(_response)

      # Return appropriate response type.
      decoded = APIHelper.json_deserialize(_response.raw_body)
      TransferResponse.from_hash(decoded)
    end
  end
end
